*.DS_STORE
.ycm_extra_conf.*
CMakeCache.txt
CMakeFiles/
CMakeScripts/
*.cmake
build/
release/
xcode_build/
*.swp
obj/
*.a
*.o
*.data
tags
tmp/
.clangd/
compile_commands.json
.vscode/
.cache
log
Testing/*
sysroot
.clangd
imgui.ini
.gdbinit
gdb_printers
